$graden: radial-gradient(
  128.88% 128.88% at 103.9% -10.39%,
  #e84d70 0%,
  #a337f6 53.09%,
  #28a7ed 100%
);

$fiyalet: #ad1fea;
$blue: #4661e6;
$darc-blue: #373f68;
$wihte: #ffffff;
$wihte-blue: #f2f4ff;
$wihte-wihte: #f7f8fd;
$wihte-red: #3a4374;
$darc-wihte: #647196;
$orange: #f49f85;
$color-blue: #62bcfa;


